{% extends 'base.html.twig' %}

{% block title %}Nouvelle tache{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle tache</h1>

    {{ include('tache/_form.html.twig') }}

    <a href="{{ path('app_tache_index') }}">back to list</a>
{% endblock %}
