{% extends 'base.html.twig' %}

{% block title %}Modifier personne{% endblock %}

{% block body %}
    <h1>Modifier personne</h1>

    {{ include('personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_personne_index') }}">back to list</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
