{% extends 'base.html.twig' %}

{% block title %}New TacheStatut{% endblock %}

{% block body %}
    <h1>Change statut de tache - {{tache_statut.tache}}</h1>

    {{ include('tache_statut/_form.html.twig') }}

    <a href="{{ path('app_tache_statut_index') }}">back to list</a>
{% endblock %}
