{% extends 'base.html.twig' %}

{% block title %}Modifier catégorie{% endblock %}

{% block body %}
    <h1>Modifier catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
