{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle facture</h1>

    {{ include('facture/_form.html.twig') }}

    <a href="{{ path('app_facture_index') }}">back to list</a>
{% endblock %}
